<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div th:fragment="header">
    <div class="bg-white collapse" id="navbarHeader" style="">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 offset-md-10 py-4">
                    <ul class="list-unstyled">
                        <li><a href="/" class="text-dark">Главная</a></li>

                        <li><a href="/services" class="text-dark">Услуги</a></li>

                        <li><a href="/advices" class="text-dark">Советы и инструкции</a></li>

                        <li><a href="/reviews" class="text-dark">Обзоры</a></li>

                        <li><a href="/about" class="text-dark">О нас</a></li>

                        <div th:if="${#request.isUserInRole('ADMIN')}">
                            <li><a href="/submittedApplications" class="text-dark">Заявки</a></li>
                        </div>

                        <div th:if="${#request.isUserInRole('ADMIN')}">
                            <li><a href="/add" class="text-dark">Добавить услугу</a></li>
                        </div>

                        <div th:if="${#request.isUserInRole('USER')}">
                            <li><a href="/submit" class="text-dark">Подать заявку</a></li>
                        </div>

                        <div th:if="${#request.isUserInRole('USER')}">
                            <li><a href="/userApplications" class="text-dark">Мои заявки</a></li>
                        </div>

                        <div sec:authorize="!isAuthenticated()">
                            <li><a href="/login" class="text-dark" >Войти</a></li>
                            <li><a href="/registration" class="text-dark">Зарегистрироваться</a></li>
                        </div>

                        <div sec:authorize="isAuthenticated()">
                            <li><a href="/logout" class="text-dark">Выйти из аккаунта</a></li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <strong>VDRONES</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</div>
</html>